/.idea
/doc
/application/Runtime
/application/Uploads/*
/application/Uploads/picture
!/application/Uploads/temp
/application/Application/Common/Conf/config.php
/application/Application/Common/Conf/config_sys.php
/application/Application/Common/Conf/config_ucenter.php
/application/Application/Common/Conf/db.php
/application/VkIpFT8NI0.txt
/application/output/
/application/robots.txt
/application/sfXRG11RzN.txt
/application/ThinkPHP/Conf/convention.php
/mintty.exe.stackdump
/application/ThinkPHP/Library/Vendor/PHPWord
/application/Public/examqrcodes/*
/.gitignore.bak
/application/Application/Shake/Controller/BetaController.class.php
/git.sh
git.sh
